<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/informacion.css') }}">
    <title>Informacion Artesano</title>
    <style>h4 {text-align: justify;}</style>
</head>
<body>
    <div class="volver">
        <a href="{{ url_for('verArtesanos') }}" id="volver-btn">Volver</a>
    </div>
    <div class="container">
        <h3>Región:</h3>
        <h4>{{region}}</h4>
        <h3>Comuna:</h3>
        <h4>{{comuna}}</h4>
        <h3>Tipo artesanía:</h3>
        <h4>{{ tipo }}</h4>
        <h3>Descripción artesanías</h3>
        <h4>{{artesanos[2]}}</h4>
        <h3>Foto artesanías:</h3>
        <h4>{% for image in IMAGES %}
                <img src="{{ url_for('static', filename='img/' + image) }}" alt="Foto" id="img" width="640" height="480" onclick="resize(this)" >
            {% endfor %}</h4>
        <h3>Nombre artesano:</h3>
        <h4>{{artesanos[3]}}</h4>
        <h3>E-mail contacto:</h3>
        <h4>{{artesanos[4]}}</h4>
        <h3>Número celular contacto +56:</h3>
        <h4>{{artesanos[5]}}</h4>
    </div>
</body>
<script src="{{ url_for('static', filename = 'js/resize.js') }}"></script>
</html>